/* -----Variables----- */

:root {
  /* ------fonts----- */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* ------text colors----- */
  --primary-text: #212121;
  --secondary-text: #757575;
  --accent-text: #2196f3;
  --dark-text: #000000;
  --light-text: #ffffff;
  --light-alpha-06: rgba(255, 255, 255, 0.6);

  /* ------BG COLORS----- */
  --bg-btn-active: #188ce8;
  --bg-btn: #2196f3;
  --bg-dark-color: #2f303a;
}
/* ------RESETS----- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}

/* ------END  RESETS----- */

body {
  font-family: 'Roboto', sans-serif;
}

/* ------HEADER----- */
.header {
}
.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--dark-text);
}
.link {
}
.logo-part {
  color: var(--accent-text);
}
.nav-list {
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.list {
}
.nav-link {
  color: var(--primary-text);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text);
}
.current {
  color: var(--accent-text);
}
.authoriz-list {
}
.authoriz-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.authoriz-mail,
.authoriz-tel {
  color: #757575;
}
.authoriz-mail:focus,
.authoriz-mail:hover,
.authoriz-tel:focus,
.authoriz-tel:hover {
  color: var(--accent-text);
}

/* ------HERO----- */
.hero {
  background-color: var(--bg-dark-color);
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--light-text);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-text);
  background-color: var(--bg-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:active {
  background-color: var(--bg-btn-active);
}

/* ------PREFERENCE----- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.preference {
}
.container {
}
.preference-title {
}
.visually-hidden {
}
.preference-list {
}
.preference-item {
}
.preference-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text);
}
.preference-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

/* ------WORK----- */
.work {
}
.container {
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}
.work-list {
}
.list {
}
.work-item {
}

/* ------TEAM----- */

.team {
}
.container {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text);
}
.team-list {
}
.team-item {
}
.team-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

/* ------FOOTER----- */

.footer {
  background-color: var(--bg-dark-color);
}
.footer .logo-link {
  color: var(--light-text);
}
.link {
}
.logo-part {
}
.address {
}
.address-link {
  font-style: normal;
  color: var(--light-text);
}
.adress-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-text);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------CONTAINER----- */
.container {
}
