:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --change-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* reset start */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 0 0 0;
}
section {
  margin-top: 0;
  margin-bottom: 0;
}

/* reset END */

/* --------HEADER---------- */
.header {
  display: flex;
  align-items: center;
  /* border: red solid; */
  height: 80px;
}
.logo-link {
  color: #000;
  margin-right: 93px;
}
.logo-part {
  color: var(--change-color);
}
.logo-link,
.logo-part {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.nav-list {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-left: 0;
}
.nav-item {
  margin-right: 50px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text);
  padding: 32px 0;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--change-color);
}
.authoriz-link {
  display: flex;
  margin-left: auto;
}
.authoriz-mail {
  margin-right: 50px;
}
.authoriz-mail,
.authoriz-tel {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}
.authoriz-mail:focus,
.authoriz-mail:hover,
.authoriz-tel:focus,
.authoriz-tel:hover {
  color: var(--change-color);
}
/* container */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

/* -----------------main------------------ */
.hero-text {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}
.hero-btn {
  display: inline-block;
  align-items: center;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.preference {
  padding-top: 94px;
}
.preference-text h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text);
}
.preference-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}
.preference h2 {
  color: initial;
}
.preference > ul {
  display: flex;
}
.team h2,
.work h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primary-text);
}
.work > ul {
  display: flex;
}
.team-list {
  display: flex;
}
.team-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text);
}
.team-item span {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: calc(19 / 16);

  letter-spacing: 0.03em;

  color: var(--secondary-text);
}
footer {
  background-color: #2f303a;
}
footer > .logo-link {
  color: #fff;
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}
footer .authoriz-mail,
footer .authoriz-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ------portfolio.html------ */
.portfolio-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--primary-text);
}
.portfolio-list {
  display: flex;
  justify-content: center;
}
.portfolio > ul {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--change-color);
}
.portfolio-list h2 {
  /* font-weight: 700; */
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--primary-text);
}
.portfolio-list p {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--secondary-text);
}
/* carent page */
.current {
  color: var(--change-color);
}
